#services {
    background-color: #e2e2e2;
    margin: 20px 0;
}

.service {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
